body {
	font-size: 16px;
	margin: 0;
	background: #343a40;
	color: rgb(255, 255, 255);
}
/*----------------------------------------------------------------------------------------------------加载动画*/
.BodyLoad {
	width: 100%;
	height: 100vh;
	z-index: 100;
	background: #343a40;
}
@keyframes BodyLoadFlash {
	0%,
	100% {
		filter: 0%;
	}
	50% {
		filter: 100%;
	}
}
.heart-loading {
	margin-top: 120px;
	width: 200px;
	height: 200px;
}
.BodyLoad > ul {
	transform-origin: 50% 100%;
	animation: BodyLoadFlash 5s infinite;
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 150px;
	height: 10px;
	margin: 0px auto 0px auto;
	padding-left: 0px;
	padding: 20% 0px 0px 0px;
}
.BodyLoad li {
	--count: 9;
	--rgb: calc(var(--index) / var(--count) * .5turn);
	--time: calc((var(--index) - 1) * 60ms);
	border-radius: 5px;
	width: 10px;
	height: 10px;
	background-color: #4db3c2;
	filter: hue-rotate(var(--rgb));
	animation-duration: 3s;
	animation-delay: var(--time);
	animation-iteration-count: infinite;
}
.line-1,
.line-9 {
	animation-name: line-move-1;
}
.line-2,
.line-8 {
	animation-name: line-move-2;
}
.line-3,
.line-7 {
	animation-name: line-move-3;
}
.line-4,
.line-6 {
	animation-name: line-move-4;
}
.line-5 {
	animation-name: line-move-5;
}
@keyframes line-move-1 {

	0%,
	10%,
	90%,
	100% {
			height: 10px;
			border-radius: 2px;
	}
	45%,
	55% {
			height: 30px;
			transform: translate3d(0, -15px, 0);
			border-radius: 5px;
	}
}
@keyframes line-move-2 {
	0%,
	10%,
	90%,
	100% {
			height: 10px;
			border-radius: 2px;
	}
	45%,
	55% {
			height: 60px;
			transform: translate3d(0, -30px, 0);
			border-radius: 5px;
	}
}
@keyframes line-move-3 {
	0%,
	10%,
	90%,
	100% {
			height: 10px;
			border-radius: 2px;
	}
	45%,
	55% {
			height: 80px;
			transform: translate3d(0, -40px, 0);
			border-radius: 5px;
	}
}
@keyframes line-move-4 {
	0%,
	10%,
	90%,
	100% {
			height: 10px;
			border-radius: 2px;
	}
	45%,
	55% {
			height: 90px;
			transform: translate3d(0, -30px, 0);
			border-radius: 5px;
	}
}
@keyframes line-move-5 {
	0%,
	10%,
	90%,
	100% {
			height: 10px;
			border-radius: 2px;
	}
	45%,
	55% {
			height: 90px;
			transform: translate3d(0, -20px, 0);
			border-radius: 5px;
	}
}
/*-----------------------------------------------------------------------------------------------------------*/
body:has(> div.BodyLoad:empty) > div.framework {
	display: block;
}
body:has(> div.BodyLoad > ul) > div.framework , body:has(> div.BodyLoad:empty) > div.BodyLoad {
	display: none;
}
div {
	box-sizing: border-box;
}
.head {
	background: #2c2e2f;
	height: 54px;
}
.head > div.Logo {
	width: 50px;
	float: left;
}
a {
	text-decoration: none;
	color: inherit;
}
.Logo-Img {
	margin: 6px auto 6px 8px;
	border-radius: 24px;
	width: 38px;
	height: 38px;
	cursor: pointer;
	transition: 1s;
	box-shadow: 0px 0px 0px #ffbb00;
}
.Logo-Img:hover {
	box-shadow: 0px 0px 10px #ffbb00;
}
.Logo-a {
	display: block;
}
div.head > div.title {
	/* width: calc(100% - 50px); */
	text-align: left;
	vertical-align: middle;
	float: left;
	animation: title 5s infinite;
	cursor: default;
}
div.head > div.headRight {
	float: right;
	height: 54px;
}
div.headRight > div {
	height: 30px;
	align-items: center;
	/* margin-top: 12px;
	margin-bottom: 12px; */
	margin: 12px 0px 12px 5px;
}
div.headRight > div > img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	float: left;
	overflow: hidden;
}
div.headRight > div {
	width: 30px;
	float: left;
	transition: 0.5s;
	overflow: hidden;
}
div.headRight > div > div.span {
	margin-top: 3px;
	margin-bottom: 3px;
	height: 24px;
	overflow: hidden;
	transition: 0.5s;
	transform: scaleX(0);
}
div.headRight > div:hover {
	width: 95px;
}
div.headRight > div:hover > div.span {
	transform: scaleX(1);
}
/*------------------------------------------------------------------------------------------------*/
@keyframes title {
	0% {
		color: #fbff01;
	}
	50% {
		color: rgb(255, 176, 6);
	}
	100% {
		color: #fbff01;
	}
}
.Navigation {
	height: calc(100vh - 54px);
	float: left;
	width: 150px;
	background: #25282b;
}
.Navigation > ul > li > a > div > img {
	vertical-align: middle;
	filter: invert(30%);
	width: 20px;
	height: 20px;
	margin-bottom: 2px;
}
.Navigation > ul , .Navigation li {
	list-style: none;
}
.Navigation > ul {
	margin: auto 0px auto 0px;
	padding-left: 0px;
}
.Navigation > ul > li {
	background-image: linear-gradient(45deg, rgb(185, 185, 185) , rgb(185, 185, 185) , rgb(185, 185, 185) , rgb(185, 185, 185) , #25282b , #25282b , #25282b , #25282b);
	background-size: 260%;
	background-position: 100% 100%;
	border-radius: 15px;
	color: aliceblue;
	transition: 1s;
	height: 36px;
}
.Navigation > ul > li:hover {
	color: #25282b;
	background-position: 0% 0%;
}
.Navigation > ul > li > a > div {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	padding-top: 6px;
	padding-bottom: 6px;
}
.Navigation > div.NavEnd > hr {
	width: 85%;
	border: 0px;
	height: 0px;
	border-top: 1px solid aliceblue;
}
.Navigation > div.NavEnd {
	position: absolute;
	bottom: 0px;
	width: 150px;
}
.Navigation > div.NavEnd > a > div {
	width:100%;
	text-align: center;
	height: 30px;
	cursor: pointer;
	text-align: left;
}
.Navigation > div.NavEnd > a > div:hover > img {
	width: 24px;
	height: 24px;
	background: aliceblue;
	filter: invert(70%);
}
.Navigation > div.NavEnd > a > div > span {
	margin-left: 0px;
	transition: 0.5s;
}
.Navigation > div.NavEnd > a > div:hover > span {
	margin-left: 20px;
}
.Navigation > div.NavEnd > a > div > img {
	width: 20px;
	height: 20px;
	filter: invert(30%);
	vertical-align: middle;
	margin-bottom: 2px;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0);
	transition: 0.5s;
}
/*----------------------------------------------------------------------------------------------------------------------导航*/
.inner::-webkit-scrollbar {
	width: 6px;
}
.inner::-webkit-scrollbar-button {
	display: none;
}
.inner::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background: #7b7d80;
	transition: 1s;
}
.inner::-webkit-scrollbar-track {
	background: #343a40;
}
.inner::-webkit-scrollbar-thumb:hover {
	background: #666666;
}
.inner {
	float: left;
	width: calc(100% - 150px);
	height: calc(100vh - 54px);
	scroll-behavior:smooth;
	overflow-x: hidden;
	overflow-y: scroll;
}
.banner {
	position: relative;
	width: var(--width);
	background-repeat: no-repeat;
	background-size: 100%;
	--width: 100%;
}
div.inner div.banner .quotesSpan {
	width: 100%;
	height: 24px;
	position: absolute;
	top: 90%;
	bottom: 10%;
	font-weight: bold;
	font-size: 24px;
	font-family: "仿宋";
	animation: quotesSpan 10s infinite;
	margin-left: 40%;
	margin-right: 40%;
}
@keyframes quotesSpan {
	0% {
		color: #ff6f6f;
	}
	8.33333% {
		color: #ffe56f;
	}
	16.66666% {
		color: #a4ff6f;
	}
	25% {
		color: #6fffff;
	}
	33.33333% {
		color: #6fb9ff;
	}
	41.66666% {
		color: #7d6fff;
	}
	50% {
		color: #ff6ff3;
	}
	58.33333% {
		color: #7d6fff;
	}
	66.66666% {
		color: #6fb9ff;
	}
	75% {
		color: #6fffff;
	}
	83.33333% {
		color: #a4ff6f;
	}
	91.66666% {
		color: #ffe56f;
	}
	100% {
		color: #ff6f6f;
	}
}
/*------------------------------------------------------------------------------------------------inner*/
.inner > a {
	width: 100px;
	height: 23px;
	text-align: center;
	border-radius: 10px;
	background: #798080;
	display: block;
	margin: 3px 0px 3px 5px;
}
/*------------------------------------------------------------------------------------------------floor*/
.classify {
	list-style: none;
	display: flex;
	padding: 0px 0px 0px 5px;
}
.classify > label > li {
	width: auto;
}
.classify > label > li > span {
	display: block;
	width: auto;
	margin: 0px 5px 0px 5px;
}
.floor-L1 {
	width: 100%;
	background: #4db3c2;
}
.floor-L1 > input {
	display: none;
}
.floor-L1 > input + div {
	width: 100%;
	display: none;
}
.floor-L1 > input:checked + div {
	display: block;
}